@media screen and (max-width: 576px) {
  .menu {
    display: inline;
  }
  .btn,
  .links {
    display: none;
  }
  .nav-title {
    font-size: 1.8rem;
  }

  .banner-img {
    padding: 120px;
  }
  .banner-img img {
    left: 40%;
    top: 13%;
  }
  .banner-title {
    font-size: 2.4rem;
  }

  /* section {
    margin-top: -50px;
  } */
  /* .about {
    margin: 100px 0;
  } */
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 30px;
  }
  .banner {
    margin-top: -50px;
    margin-bottom: 200px;
  }
  .layout-container,
  .feature-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .title {
    font-size: 2rem;
  }
  .layout-container h4 {
    font-size: 1rem;
  }
  .layout-container p {
    font-size: 0.7rem;
  }
  .layout-1,
  .layout-2,
  .layout-3,
  .layout-4,
  .layout-5 {
    width: 400px;
    padding: 25px;
    align-items: center;
  }
  .layout-2,
  .layout-3,
  .layout-4 {
    grid-column: span 1;
  }
  .layout-1 {
    grid-row: span 1;
  }
  .host-container {
    flex-direction: column;
    text-align: center;
  }
  .link-img {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    text-align: center;
    padding-top: 50px;
  }
}

/* medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .btn,
  .links {
    flex-direction: column;
  }
  .btn {
    border-radius: 8px;
    padding: 5px 10px;
  }
  .banner-img img {
    left: 41%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 20px 30px; */
  }
  .banner {
    margin-top: -50px;
    margin-bottom: 200px;
  }
  .layout-2,
  .layout-3,
  .layout-4 {
    grid-column: span 1;
  }
  .layout-1 {
    grid-row: span 1;
  }
  .layout-1,
  .layout-2,
  .layout-3,
  .layout-4,
  .layout-5 {
    width: 400px;
    padding: 25px;
    align-items: center;
  }
  .feature-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
}
