@media screen and (max-width: 576px) {
  .menu {
    display: inline;
  }

  .btn,
  .links {
    display: none;
  }
  .nav-title {
    font-size: 1.8rem;
  }
  nav {
    padding: 10px 20px;
  }
  .new {
    animation: new-btn 3s ease-in-out 2s infinite alternate;
  }
  @keyframes new-btn {
    from {
      left: 60%;
    }
    to {
      left: 63%;
    }
  }

  .banner-img {
    padding: 120px;
  }
  .banner-img img {
    position: absolute;
    left: 40%;
  }
  .banner-title {
    font-size: 2.4rem;
  }
  .banner-content {
    padding: 140px 20px;
  }
  .about-content {
    padding: 0 30px;
  }
  .about {
    padding-top: 0;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 30px;
  }
  .banner {
    margin-top: -50px;
    margin-bottom: 200px;
  }
  .layout-container,
  .feature-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .title {
    font-size: 2rem;
  }
  .layout-container h4 {
    font-size: 1rem;
  }
  .layout-container p {
    font-size: 0.7rem;
  }
  .layout-1,
  .layout-2,
  .layout-3,
  .layout-4,
  .layout-5 {
    width: 400px;
    padding: 25px;
    align-items: center;
  }
  .layout-2,
  .layout-3,
  .layout-4 {
    grid-column: span 1;
  }
  .layout-1 {
    grid-row: span 1;
  }
  .host-container {
    flex-direction: column;
    text-align: center;
  }
  .link-img {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    text-align: center;
  }
  .footer-link {
    margin-bottom: 0;
    padding: 3px;
  }
  .footer-section {
    background-size: cover;
    background-position: center;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto 20px;
    padding-top: 20px;
  }
}

/* medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .btn,
  .links {
    flex-direction: column;
  }
  nav {
    padding: 10px 20px;
  }
  .new {
    animation: new-btn 3s ease-in-out 2s infinite alternate;
  }
  @keyframes new-btn {
    from {
      left: 72%;
    }
    to {
      left: 75%;
    }
  }

  .btn {
    border-radius: 8px;
    padding: 5px 10px;
  }
  .banner-img img {
    left: 41%;
  }
  .banner {
    justify-items: center;
    margin-top: 0;
  }
  .banner-content {
    padding-top: 140px;
  }
  .about {
    padding-top: 0;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 20px 30px; */
  }
  .layout-2,
  .layout-3,
  .layout-4 {
    grid-column: span 1;
  }
  .layout-1 {
    grid-row: span 1;
  }
  .layout-1,
  .layout-2,
  .layout-3,
  .layout-4,
  .layout-5 {
    width: 500px;
    padding: 25px;
    align-items: center;
  }
  .feature-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .banner {
    justify-items: center;
  }
  .banner-img img {
    left: 30%;
  }
  .feature-container,
  .layout-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* align-items: center; */
    justify-items: center;
  }
  .about-content {
    padding-top: 180px;
  }
  .footer-link {
    padding: 8px;
    gap: 7px;
  }
  .footer-section {
    background-size: cover;
    background-position: center;
  }
  .link {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
  }
}

/* large */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .banner {
    justify-items: center;
    margin-top: 0;
    background-size: cover;
  }
  .banner-content {
    padding-top: 120px;
  }
  .banner-img img {
    left: 28%;
  }
  .new {
    animation: new-btn 3s ease-in-out 2s infinite alternate;
  }
  @keyframes new-btn {
    from {
      left: 79%;
    }
    to {
      left: 83%;
    }
  }
  .feature-container {
    display: flex;
    flex-wrap: wrap;
  }
  .about-content {
    padding-top: 180px;
  }
  .footer-link {
    padding: 8px;
    gap: 7px;
  }
}
