@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared */
.display-flex {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin-top: 70px;
}
body {
  background: rgba(26, 11, 46, 1);
}
/* navbar */
.links li {
  list-style: none;
  font-size: 1rem;
  margin-right: 20px;
  color: white;
}
.links {
  gap: 30px;
}
nav {
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 16px 150px;
  background: linear-gradient(#1a0b2e, rgba(26, 17, 46, 9));
}
.btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  background: linear-gradient(
    180deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 100%,
    rgba(145, 0, 248, 1) 80%
  );
  border-radius: 38px;
}
.nav-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
.menu {
  display: none;
}
/* banner */
.title {
  font-size: 3.2rem;
  font-weight: 800rem;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
  color: white;
}
.banner-btn2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 25px;
  color: white;
  border: none;
  background: linear-gradient(
    180deg,
    rgba(247, 233, 63, 1) 10%,
    rgba(251, 9, 180, 1) 100%,
    rgba(145, 0, 248, 1) 100%
  );
  border-radius: 38px;
}
.banner-btn3 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 40px;
  color: green;
  border: 1px solid green;
  border-radius: 38px;
  background: linear-gradient(#1a0b2e, rgba(26, 17, 46, 9));
}
.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.banner-content {
  padding-top: 220px;
  text-align: center;
}
.banner {
  background: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-size: contain;
}

.banner-img {
  background: url('./assets/hero-circle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 20%;
  padding: 150px;
}
.banner-img img {
  position: absolute;
  top: 16%;
  left: 46%;
}
/* card */
.card-number {
  font-size: 2rem;
  font-weight: 900;
  color: green;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 30px;
}
.card-text {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;

  color: white;
}
.card-text-star {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  color: white;
}
.card {
  text-align: center;
  padding: 25px;
  background: linear-gradient(#1a0b2e, rgba(20, 17, 43, 12));
}
